* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ESTILOS DE LA PAGINA */
body {
  font-family: "Rubik", sans-serif;
  text-align: center;
}
.header {
  width: 100%;
  background-color: #ffffff;
  top: 0;
  z-index: 2;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: #4a4a4a;
  font-size: 16px;
}
.logo {
  padding: 10px;
  width: 155px;
}
.list {
  list-style: none;
  display: flex;
  padding-bottom: 13px;
  display: flex;
}
.item-list {
  padding-left: 10px;
  padding-right: 10px;
}
.main {
  width: 100vw;
  height: 100vh;
  background-color: #3cdbc0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
}

/* MEDIAQUERIES */

@media screen and (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
  }
  .menu {
    padding-right: 30px;
  }
  .main {
    font-size: 40px;
  }
}
